<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.ohpizza.mapper.CartMapper">

	<select id = "selectCartL" parameterType = "string" resultType = "co.ohpizza.vo.CartVO">
		select *
		from tbl_Cart
		where mem_id = #{memId}
	</select>
	
	<insert id = "addCart" parameterType = "co.ohpizza.vo.CartVO">
		insert into tbl_cart (cart_no, mem_id, prod_no, count)
		values (cart_seq.nextVal, #{memId}, #{prodNo}, #{count})
	</insert>
	
	<delete id = "removeCart" parameterType = "int">
		delete from tbl_cart
		where cart_no = #{cartNo}
	</delete>
	
	<delete id="deleteCart" parameterType = "String">
		delete from tbl_cart
		where mem_id = #{memId}
	</delete>
	
	<update id= "updateCart" parameterType = "int">
		update tbl_cart
		set count = #{count}
		where cart_no = #{cartNo}
	</update>

</mapper>