<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.ohpizza.mapper.CouponMapper">

  <select id="selectCoupon" parameterType="string" resultType="string">
    select discount
    from tbl_coupon
    where coupon_name = #{couponNm}
  </select>
  
  <select id="memberCouponList" parameterType="string" resultType="string">
  	select coupon_name
  	from tbl_mem_coupon
  	where mem_id = #{id}
  </select>
  
  <select id="getCoupon" resultType="co.ohpizza.vo.CouponVO">
    select *
    from tbl_coupon
    order by coupon_name
  </select>  
  
</mapper>