<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.ohpizza.mapper.CouponMapper">

  <select id="couponList" parameterType="String" resultType="co.ohpizza.vo.CouponVO">
    select *
    from tbl_coupon
  </select>
  
</mapper>