<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.ohpizza.mapper.MemberMapper">

	<!-- 멤버 리스트 -->
	<select id="selectList" parameterType="string"
		resultType="co.ohpizza.vo.MemberVO">
		select mem_id
		,mem_pw
		,mem_name
		,authority
		from tbl_member
		where authority = #{auth}
		order by ${orderBy}
	</select>
	
	<!-- 멤버 삭제 -->
	<delete id="deleteMember" parameterType="string">
		delete tbl_member
		where mem_id = #{id}
	</delete>
	
	<!-- 로그인 체크 -->
	<select id="checkMember" parameterType="string"
		resultType="co.ohpizza.vo.MemberVO">
		select *
		from tbl_member
		where mem_id = #{id}
		and mem_pw = #{pw}
	</select>
	
	<!-- 비빌번호 찾기 -->
	<select id="findPass" parameterType="co.ohpizza.vo.MemberVO" resultType="string">
		select mem_pw
		from tbl_member
		where mem_id = #{memId}
		and mem_name = #{memName}
		and email = #{email}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="co.ohpizza.vo.MemberVO">
		insert into TBL_MEMBER(
		MEM_ID,
		MEM_PW,
		MEM_NAME,
		EMAIL,
		PHONE,
		ADDRESS)
		values(#{memId},
		#{memPw},
		#{memName},
		#{email},
		#{phone},
		#{address})
	</insert>

	<!-- 회원가입 ID중복확인 (김수호) -->
	<select id="selectId" parameterType="string"
		resultType="int">
		select count(*)
		from tbl_member
		where mem_id = #{MEM_ID}
	</select>
	
	<!-- 정보 확인 -->
	<select id="selectMember" parameterType="string" resultType="co.ohpizza.vo.MemberVO">
		select *
		from tbl_member
		where mem_id = #{id}
	</select>
	
	<!-- 정보변경 -->
	<update id="updateMember" parameterType="co.ohpizza.vo.MemberVO">
		update tbl_member
		set mem_name = #{memName},
		    mem_pw = #{memPw},
		    phone = #{phone},
		    email = #{email},
		    address = #{address}
		where mem_id = #{memId}
	</update>
	
	<select id="infoMember" parameterType="string" resultType="co.ohpizza.vo.MemberVO">
		select *
		from tbl_member
		where mem_id = #{MEM_ID}
	</select>

</mapper>