<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.ohpizza.mapper.ProductMapper">

  <select id="selectList" parameterType="string" resultType="co.ohpizza.vo.ProductVO">
    select *
    from tbl_prod
    where prod_type = #{type}
  </select>
  
  <select id="selectProduct" parameterType="int" resultType="co.ohpizza.vo.ProductVO">
    select *
    from tbl_prod
    where prod_no = #{prodNo}
  </select>
  
  <select id="selectGList" parameterType="string" resultType="co.ohpizza.vo.ProductVO">
    select *
    from tbl_prod
    where prod_type = #{type}
    and grade = #{grade}
  </select>

</mapper>