.container {
	display: flex;
}

.left {
	justify-content: flex-start;
}

.center {
	justify-content: center;
}

.right {
	justify-content: flex-end;
}

#pizzamenu {
	background-color: #ff0000;
	color: #ff0000;
}