<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%5level [%thread] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="co.ohpizza.mapper.ProductMapper">
    <level value="debug"/>
  </logger>
  <logger name="co.ohpizza.mapper.MemberMapper">
    <level value="debug"/>
  </logger>
  <logger name="co.ohpizza.mapper.BoardMapper">
    <level value="debug"/>
  </logger>

  <root level="error">
    <appender-ref ref="stdout"/>
  </root>

</configuration>